{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Акции</title>
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon/favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"  />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}"  />
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <!-- Slick CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
</head>
<body>
<header class="container-fluid header-desk header-desk-stock" style="border-bottom: 1px solid #E9E9E9; padding-bottom: 20px!important;">
    <div class="container d-flex justify-content-between align-items-center">


            <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
    <!-- Логотип слева -->
    <a href="/" style="z-index: 1000;">
        <div>
            <img src="{% static 'img/Logo.png' %}" alt="Логотип" width="51" height="37">
        </div>
    </a>

    <!-- Навигация по центру -->
    <nav class="d-flex justify-content-center" style="z-index: 1000; flex-grow: 1;">
        <ul class="nav">
            <li class="nav-item dropdown" style="margin-right: 25px;">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="outline: none;">
                Услуги <svg width="11" height="6" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: 5px; color: #919191;">
        <path d="M1 1L6 6L11 1" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
    </svg>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'hardware_cosmetology' %}" style="outline: none;">Аппартная косметология</a></li>
                <li><a class="dropdown-item" href="{% url 'care_procedures' %}" style="outline: none;">Уходовые процедуры</a></li>
                <li><a class="dropdown-item" href="{% url 'massage' %}" style="outline: none;">Массаж</a></li>
                <li><a class="dropdown-item" href="{% url 'peeling' %}" style="outline: none;">Пилинг</a></li>
                <li><a class="dropdown-item" href="{% url 'procedures_for_men' %}" style="outline: none;">Процедуры для мужчин</a></li>
                <li><a class="dropdown-item" href="{% url 'spa' %}" style="outline: none;">Спа программы</a></li>

            </ul>
        </li>
            <li class="nav-item dropdown" style="margin-right: 25px;">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="outline: none;">
                О нас <svg width="11" height="6" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: 5px; color: #919191;">
        <path d="M1 1L6 6L11 1" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
    </svg>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'about' %}" style="outline: none;">О клинике</a></li>
                <li><a class="dropdown-item" href="{% url 'licenses' %}" style="outline: none;">Юридическая информация</a></li>
                <li><a class="dropdown-item" href="{% url 'contacts' %}" style="outline: none;">Контакты</a></li>

            </ul>
        </li>
            <li class="nav-item" style="margin-right: 25px;"><a class="nav-link" href="#">Команда</a></li>
            <li class="nav-item" style="margin-right: 25px;"><a class="nav-link" href="{% url 'stock' %}">Акции</a></li>
            <li class="nav-item" style="margin-right: 25px;"><a class="nav-link" href="{% url 'vacancies' %}">Вакансии</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'news' %}">Блог</a></li>
        </ul>
    </nav>

    <!-- Телефон и иконка справа -->
    <div class="d-flex align-items-center right-header" style="z-index: 1000;">
        <div class="d-flex align-items-center">
            <a href="tel:+79147312555" target="_blank" class="phone-black">+7 (914) 731-25-55</a>
            <img src="{% static 'img/Vector-black.png' %}" width="21" height="14" class="vk">
            <a href="https://t.me/ideologia_vl" target="_blank" class="d-flex align-items-center"><img src="{% static 'img/Vector-tg-black.png' %}" width="18" height="18"></a>
            <div class="devisor-black"></div>
            <a href="https://n1253794.yclients.com/company/1146478/personal/menu?o=" target="_blank" class="btn-header-black">Записаться</a>
        </div>
    </div>
</div>
    </div>




    </header>

<header class="container-fluid header-mob" style="border-bottom: 1px solid #E9E9E9; padding-bottom: 20px!important; background-color: white;">
    <div class="container d-flex justify-content-between align-items-center">


            <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
    <!-- Логотип слева -->
    <a href="/" style="z-index: 1000;">
        <div>
            <img src="{% static 'img/Logo.png' %}" alt="Логотип" width="51" height="37">
        </div>
    </a>

                <div class="burger-container">
                    <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
                    <label class="burger" for="burger-checkbox"></label>

                    <nav class="mobile-nav">
                    <ul style="margin-top: 50px;">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="outline: none; font-size: 16px;">
                Услуги <svg width="11" height="6" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: 5px; color: #919191;">
        <path d="M1 1L6 6L11 1" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
    </svg>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'hardware_cosmetology' %}" style="outline: none; font-size: 16px;">Аппартная косметология</a></li>
                <li><a class="dropdown-item" href="{% url 'care_procedures' %}" style="outline: none; font-size: 16px;">Уходовые процедуры</a></li>
                <li><a class="dropdown-item" href="{% url 'massage' %}" style="outline: none;">Массаж</a></li>
                <li><a class="dropdown-item" href="{% url 'peeling' %}" style="outline: none;">Пилинг</a></li>
                <li><a class="dropdown-item" href="{% url 'procedures_for_men' %}" style="outline: none;">Процедуры для мужчин</a></li>
                <li><a class="dropdown-item" href="{% url 'spa' %}" style="outline: none;">Спа программы</a></li>

            </ul>
        </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="outline: none; font-size: 16px;">
                О нас <svg width="11" height="6" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: 5px; color: #919191;">
        <path d="M1 1L6 6L11 1" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
    </svg>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'about' %}" style="outline: none; font-size: 16px;">О клинике</a></li>
                <li><a class="dropdown-item" href="{% url 'licenses' %}" style="outline: none; font-size: 16px;">Юридическая информация</a></li>
                <li><a class="dropdown-item" href="{% url 'contacts' %}" style="outline: none; font-size: 16px;">Контакты</a></li>

            </ul>
        </li>
            <li class="nav-item"><a class="nav-link" href="#" style="font-size: 16px;">Команда</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'stock' %}" style="font-size: 16px;">Акции</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'vacancies' %}" style="font-size: 16px;">Вакансии</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'news' %}" style="font-size: 16px;">Блог</a></li>
        </ul>
                </nav>
                </div>



</div>
    </div>




    </header>

<section class="container container-stock-crumbs">
    <span><a href="/" style="font-size: 16px; color: #6E6E6E;">Главная</a> / <a href="{{ request.path }}" style="font-size: 16px; color: black;">Акции</a></span>
</section>

<section class="container container-stock-clients-day">
    <p style="font-size: 35px; font-family: 'Prata', serif; color: #2F2F2F;" class="zag-about-mob">КЛИЕНТСКИЕ ДНИ</p>
    <p style="font-size: 18px; color: #393939;" class="desc-work-text-img-mob stock-desc-work-text-mob">В рамках наших Клиентских Дней мы предлагаем вам уникальную возможность воспользоваться<br>специальными скидками и акциями на широкий спектр мед и косметических услуг.</p>
    <div class="d-flex row" style="margin-top: 50px; row-gap: 20px;">
        <div class="col-md-6">
            <div class="card card-offer-1">
                <div class="d-flex align-items-center justify-content-between mob-div-card-offer">
                    <span style="font-size: 22px; font-family: 'Prata', serif; color: #2F2F2F;" class="zag-card-offer-mob">ДЕНЬ ПИЛИНГА</span>
                    <span style="font-size: 22px; font-family: 'Prata', serif; color: #2F2F2F;" class="date-card-offer-mob">23-24 АПРЕЛЯ</span>
                </div>
                <p style="margin-top: 35px; font-size: 18px; font-weight: 600; color: #2F2F2F;" class="card-offer-desc-mob">Все пилинги стоят 2500 рублей</p>
                <div class="d-flex align-items-end justify-content-between">
                    <span style="font-size: 16px; width: 494px;" class="card-offer-desc-mob">Во всех филиалах нашей клиники мы предлагаем выгодное предложение на все пилинги, что позволяет нашим клиентам получить высококачественные процедуры по доступной цене.</span>
                    <img src="{% static 'img/Frame 2087325690.png' %}" width="40" height="40" style="cursor: pointer;" class="srel-click-hover">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-offer-1">
                <div class="d-flex align-items-center justify-content-between mob-div-card-offer">
                    <span style="font-size: 22px; font-family: 'Prata', serif; color: #2F2F2F;" class="zag-card-offer-mob">ДЕНЬ ОТКРЫТЫХ ДВЕРЕЙ</span>
                    <span style="font-size: 22px; font-family: 'Prata', serif; color: #2F2F2F;" class="date-card-offer-mob">27-28 АПРЕЛЯ</span>
                </div>
                <p style="margin-top: 35px; font-size: 18px; font-weight: 600; color: #2F2F2F;" class="card-offer-desc-mob">2 абонемента по цене 1</p>
                <div class="d-flex align-items-end justify-content-between">
                    <span style="font-size: 16px; width: 494px;" class="card-offer-desc-mob">Наши клиенты могут получить двойную пользу от наших услуг по одной и той же цене. Эта акция является отличной возможностью для вас и вашего здоровья</span>
                    <img src="{% static 'img/Frame 2087325690.png' %}" width="40" height="40" style="cursor: pointer;" class="srel-click-hover">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container container-stock-abonement stock-abonement-desk-slider">
    <p style="font-size: 35px; font-family: 'Prata', serif; color: #2F2F2F;" class="zag-abonement-mob">АБОНЕМЕНТЫ</p>
    <div class="d-flex row" style="margin-top: 50px; row-gap: 30px;">
        <div class="col-md-6">
            <div class="card card-abonement card-abonement-shadow">

                <span style="font-size: 22px; font-family: 'Prata', serif; color: #2F2F2F;">МАССАЖ MAXI</span>
                <div class="d-flex card-abonement-mob" style="margin-top: 30px; gap: 20px;">
                    <img src="{% static 'img/IMG-20250412-WA0180 (2) 1.png' %}" style="object-fit: cover; border-radius: 25px;" class="img-abonement-mob">
                    <div>
                        <p style="font-size: 18px; font-weight: 600; color: #2F2F2F;">Абонемент на 10 процедур массажа</p>


                        <ul>
                            <li style="font-size: 16px; color: #6E6E6E;">Возможность выбора времени и дня процедуры</li>
                            <li style="font-size: 16px; color: #6E6E6E;">Бесплатная консультация с массажистом перед каждой процедурой</li>
                            <li style="font-size: 16px; color: #6E6E6E;">Экономия до 30% по сравнению с отдельными процедурами</li>
                            <li style="font-size: 16px; color: #6E6E6E;">Срок действия абонемента 6 месяцев</li>
                        </ul>
                        <hr style="margin-top: 20px;">
                        <div class="d-flex align-items-center justify-content-between">
                        <p style="margin-top: 24px;"><del style="font-size: 18px; font-family: 'Prata', serif; margin-right: 20px; color: #6E6E6E;">20 000 ₽</del><span style="font-size: 22px; font-family: 'Prata', serif; color: #2F2F2F;">15 000 ₽</span></p>
                            <img src="{% static 'img/Frame 2087325690.png' %}" width="40" height="40" style="cursor: pointer;" class="srel-click-hover">
                            </div>
                    </div>
                </div>
                </div>
        </div>
        <div class="col-md-6">
            <div class="card card-abonement card-abonement-shadow">

                <span style="font-size: 22px; font-family: 'Prata', serif; color: #2F2F2F;">МАССАЖ MAXI</span>
                <div class="d-flex card-abonement-mob" style="margin-top: 30px; gap: 20px;">
                    <img src="{% static 'img/IMG-20250412-WA0180 (2) 1.png' %}" style="object-fit: cover; border-radius: 25px;" class="img-abonement-mob">
                    <div>
                        <p style="font-size: 18px; font-weight: 600; color: #2F2F2F;">Абонемент на 10 процедур массажа</p>


                        <ul>
                            <li style="font-size: 16px; color: #6E6E6E;">Возможность выбора времени и дня процедуры</li>
                            <li style="font-size: 16px; color: #6E6E6E;">Бесплатная консультация с массажистом перед каждой процедурой</li>
                            <li style="font-size: 16px; color: #6E6E6E;">Экономия до 30% по сравнению с отдельными процедурами</li>
                            <li style="font-size: 16px; color: #6E6E6E;">Срок действия абонемента 6 месяцев</li>
                        </ul>
                        <hr style="margin-top: 20px;">
                        <div class="d-flex align-items-center justify-content-between">
                        <p style="margin-top: 24px;"><del style="font-size: 18px; font-family: 'Prata', serif; margin-right: 20px; color: #6E6E6E;">20 000 ₽</del><span style="font-size: 22px; font-family: 'Prata', serif; color: #2F2F2F;">15 000 ₽</span></p>
                            <img src="{% static 'img/Frame 2087325690.png' %}" width="40" height="40" style="cursor: pointer;" class="srel-click-hover">
                            </div>
                    </div>
                </div>
                </div>
        </div>
        <div class="col-md-6">
            <div class="card card-abonement card-abonement-shadow">

                <span style="font-size: 22px; font-family: 'Prata', serif; color: #2F2F2F;">МАССАЖ MAXI</span>
                <div class="d-flex card-abonement-mob" style="margin-top: 30px; gap: 20px;">
                    <img src="{% static 'img/IMG-20250412-WA0180 (2) 1.png' %}" style="object-fit: cover; border-radius: 25px;" class="img-abonement-mob">
                    <div>
                        <p style="font-size: 18px; font-weight: 600; color: #2F2F2F;">Абонемент на 10 процедур массажа</p>


                        <ul>
                            <li style="font-size: 16px; color: #6E6E6E;">Возможность выбора времени и дня процедуры</li>
                            <li style="font-size: 16px; color: #6E6E6E;">Бесплатная консультация с массажистом перед каждой процедурой</li>
                            <li style="font-size: 16px; color: #6E6E6E;">Экономия до 30% по сравнению с отдельными процедурами</li>
                            <li style="font-size: 16px; color: #6E6E6E;">Срок действия абонемента 6 месяцев</li>
                        </ul>
                        <hr style="margin-top: 20px;">
                        <div class="d-flex align-items-center justify-content-between">
                        <p style="margin-top: 24px;"><del style="font-size: 18px; font-family: 'Prata', serif; margin-right: 20px; color: #6E6E6E;">20 000 ₽</del><span style="font-size: 22px; font-family: 'Prata', serif; color: #2F2F2F;">15 000 ₽</span></p>
                            <img src="{% static 'img/Frame 2087325690.png' %}" width="40" height="40" style="cursor: pointer;" class="srel-click-hover">
                            </div>
                    </div>
                </div>
                </div>
        </div>
        <div class="col-md-6">
            <div class="card card-abonement card-abonement-shadow">

                <span style="font-size: 22px; font-family: 'Prata', serif; color: #2F2F2F;">МАССАЖ MAXI</span>
                <div class="d-flex card-abonement-mob" style="margin-top: 30px; gap: 20px;">
                    <img src="{% static 'img/IMG-20250412-WA0180 (2) 1.png' %}" style="object-fit: cover; border-radius: 25px;" class="img-abonement-mob">
                    <div>
                        <p style="font-size: 18px; font-weight: 600; color: #2F2F2F;">Абонемент на 10 процедур массажа</p>


                        <ul>
                            <li style="font-size: 16px; color: #6E6E6E;">Возможность выбора времени и дня процедуры</li>
                            <li style="font-size: 16px; color: #6E6E6E;">Бесплатная консультация с массажистом перед каждой процедурой</li>
                            <li style="font-size: 16px; color: #6E6E6E;">Экономия до 30% по сравнению с отдельными процедурами</li>
                            <li style="font-size: 16px; color: #6E6E6E;">Срок действия абонемента 6 месяцев</li>
                        </ul>
                        <hr style="margin-top: 20px;">
                        <div class="d-flex align-items-center justify-content-between">
                        <p style="margin-top: 24px;"><del style="font-size: 18px; font-family: 'Prata', serif; margin-right: 20px; color: #6E6E6E;">20 000 ₽</del><span style="font-size: 22px; font-family: 'Prata', serif; color: #2F2F2F;">15 000 ₽</span></p>
                            <img src="{% static 'img/Frame 2087325690.png' %}" width="40" height="40" style="cursor: pointer;" class="srel-click-hover">
                            </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</section>

<section class="container container-stock-abonement stock-abonement-mob-slider">
    <p style="font-size: 35px; font-family: 'Prata', serif;" class="text-center zag-abonement-mob">АБОНЕМЕНТЫ</p>
    <div class="abonement-slider" style="margin-top: 30px;">
        <div class="col-12 me-2">
            <div class="card card-abonement">

                <span style="font-size: 22px; font-family: 'Prata', serif;">МАССАЖ MAXI</span>
                <div class="d-flex card-abonement-mob" style="margin-top: 30px; gap: 20px;">
                    <img src="{% static 'img/IMG-20250412-WA0180 (2) 1.png' %}" style="object-fit: cover; border-radius: 25px;" class="img-abonement-mob">
                    <div>
                        <p style="font-size: 18px; font-weight: 600;">Абонемент на 10 процедур массажа</p>
                        <p style="margin-top: 24px;"><del style="font-size: 18px; font-family: 'Prata', serif; margin-right: 20px; color: #6E6E6E;">20 000 ₽</del><span style="font-size: 22px; font-family: 'Prata', serif;">15 000 ₽</span></p>
                        <hr style="margin-top: 20px;">
                        <ul style="margin-top: 20px;">
                            <li style="font-size: 16px; color: #6E6E6E;">Возможность выбора времени и дня процедуры</li>
                            <li style="font-size: 16px; color: #6E6E6E;">Бесплатная консультация с массажистом перед каждой процедурой</li>
                            <li style="font-size: 16px; color: #6E6E6E;">Экономия до 30% по сравнению с отдельными процедурами</li>
                            <li style="font-size: 16px; color: #6E6E6E;">Срок действия абонемента 6 месяцев</li>
                        </ul>
                    </div>
                </div>
                </div>
        </div>
        <div class="col-12 me-2">
            <div class="card card-abonement">

                <span style="font-size: 22px; font-family: 'Prata', serif;">МАССАЖ MAXI</span>
                <div class="d-flex card-abonement-mob" style="margin-top: 30px; gap: 20px;">
                    <img src="{% static 'img/IMG-20250412-WA0180 (2) 1.png' %}" style="object-fit: cover; border-radius: 25px;" class="img-abonement-mob">
                    <div>
                        <p style="font-size: 18px; font-weight: 600;">Абонемент на 10 процедур массажа</p>
                        <p style="margin-top: 24px;"><del style="font-size: 18px; font-family: 'Prata', serif; margin-right: 20px; color: #6E6E6E;">20 000 ₽</del><span style="font-size: 22px; font-family: 'Prata', serif;">15 000 ₽</span></p>
                        <hr style="margin-top: 20px;">
                        <ul style="margin-top: 20px;">
                            <li style="font-size: 16px; color: #6E6E6E;">Возможность выбора времени и дня процедуры</li>
                            <li style="font-size: 16px; color: #6E6E6E;">Бесплатная консультация с массажистом перед каждой процедурой</li>
                            <li style="font-size: 16px; color: #6E6E6E;">Экономия до 30% по сравнению с отдельными процедурами</li>
                            <li style="font-size: 16px; color: #6E6E6E;">Срок действия абонемента 6 месяцев</li>
                        </ul>
                    </div>
                </div>
                </div>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-between" style="margin-top: 30px;">
            <a href="#" class="btn-all-abonement">Все абонементы</a>
            <div class="d-flex align-items-center strel-abonement-mob">
                <span class="page-indicator-abonement active me-3" data-index="0" style="font-size: 22px; font-family: 'Prata', serif;">01</span>
                <span style="font-size: 22px; font-family: 'Prata', serif;" class="page-indicator-abonement me-3" data-index="1">02</span>
                <span style="font-size: 22px; font-family: 'Prata', serif;" class="page-indicator-abonement me-3" data-index="2">03</span>
                <span style="font-size: 22px; font-family: 'Prata', serif; margin-right: 50px;" class="page-indicator-abonement" data-index="3">04</span>
                <button class="slick-prev-custom prev-abonement me-3" aria-label="Previous" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 18 12" fill="none">
<path d="M17 6.74074C17.4091 6.74074 17.7407 6.4091 17.7407 6C17.7407 5.5909 17.4091 5.25926 17 5.25926L17 6.74074ZM0.213627 5.47622C-0.0756511 5.76549 -0.0756512 6.2345 0.213627 6.52378L4.92767 11.2378C5.21695 11.5271 5.68596 11.5271 5.97524 11.2378C6.26451 10.9485 6.26451 10.4795 5.97524 10.1903L1.78498 6L5.97524 1.80974C6.26451 1.52046 6.26451 1.05145 5.97524 0.762171C5.68596 0.472894 5.21695 0.472894 4.92767 0.762171L0.213627 5.47622ZM17 6L17 5.25926L0.73741 5.25926L0.73741 6L0.73741 6.74074L17 6.74074L17 6Z" fill="white"/>
</svg>
        </button>
        <button class="slick-next-custom next-abonement" aria-label="Next" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 18 12" fill="none">
<path d="M1 5.25926C0.5909 5.25926 0.259259 5.5909 0.259259 6C0.259259 6.4091 0.5909 6.74074 1 6.74074V5.25926ZM17.7864 6.52378C18.0757 6.23451 18.0757 5.76549 17.7864 5.47622L13.0723 0.762172C12.7831 0.472895 12.314 0.472895 12.0248 0.762172C11.7355 1.05145 11.7355 1.52046 12.0248 1.80974L16.215 6L12.0248 10.1903C11.7355 10.4795 11.7355 10.9486 12.0248 11.2378C12.314 11.5271 12.7831 11.5271 13.0723 11.2378L17.7864 6.52378ZM1 6V6.74074L17.2626 6.74074V6V5.25926L1 5.25926V6Z" fill="white"/>
</svg>
        </button>
            </div>
        </div>
</section>


<section class="container container-stock-offer">
    <p style="font-size: 35px; font-family: 'Prata', serif; color: #2F2F2F;" class="zag-offer-mob">СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ</p>
    <div class="d-flex row" style="margin-top: 50px; row-gap: 30px;">
        <div class="col-md-6">
            <div class="card card-offer-2 card-offer-2-shadow">

                <span style="font-size: 22px; font-family: 'Prata', serif; color: #2F2F2F;" class="zag-sertif-mob">ПОДАРОЧНЫЙ СЕРТИФИКАТ</span>
                <div class="d-flex" style="margin-top: 30px; gap: 20px;">
                    <img src="{% static 'img/Frame offer.png' %}" style="object-fit: cover; border-radius: 25px;">
                    <div>
                        <p style="font-size: 18px; font-weight: 600; color: #2F2F2F;" class="sertif-desc-mob">Идеальный подарок на праздники для любимых</p>
                        <p style="font-size: 16px; color: #2F2F2F;" class="sertif-desc-mob">Подарочные сертификаты могут быть получены через наш сайт или в наших офисах. Для получения сертификата офлайн, вам необходимо посетить один из наших офисов или заполнить форму на нашем сайте</p>
                        <p style="font-size: 14px; color: #6E6E6E;" class="sertif-desc-mob">с 01.04.25 до 30.04.25</p>
                        <button class="btn-stock-online">Заказать онлайн</button>
                    </div>
                </div>
                </div>
        </div>
        <div class="col-md-6">
            <div class="card card-offer-2 card-offer-2-shadow">

                <span style="font-size: 22px; font-family: 'Prata', serif; color: #2F2F2F;" class="zag-sertif-mob">ПОДАРОЧНЫЙ СЕРТИФИКАТ</span>
                <div class="d-flex" style="margin-top: 30px; gap: 20px;">
                    <img src="{% static 'img/Frame offer.png' %}" style="object-fit: cover; border-radius: 25px;">
                    <div>
                        <p style="font-size: 18px; font-weight: 600; color: #2F2F2F;" class="sertif-desc-mob">Идеальный подарок на праздники для любимых</p>
                        <p style="font-size: 16px; color: #2F2F2F;" class="sertif-desc-mob">Подарочные сертификаты могут быть получены через наш сайт или в наших офисах. Для получения сертификата офлайн, вам необходимо посетить один из наших офисов или заполнить форму на нашем сайте</p>
                        <p style="font-size: 14px; color: #6E6E6E;" class="sertif-desc-mob">с 01.04.25 до 30.04.25</p>
                        <button class="btn-stock-online">Заказать онлайн</button>
                    </div>
                </div>
                </div>
        </div>
        <div class="col-md-6">
            <div class="card card-offer-2 card-offer-2-shadow">

                <span style="font-size: 22px; font-family: 'Prata', serif; color: #2F2F2F;" class="zag-sertif-mob">ПОДАРОЧНЫЙ СЕРТИФИКАТ</span>
                <div class="d-flex" style="margin-top: 30px; gap: 20px;">
                    <img src="{% static 'img/Frame offer.png' %}" style="object-fit: cover; border-radius: 25px;">
                    <div>
                        <p style="font-size: 18px; font-weight: 600; color: #2F2F2F;" class="sertif-desc-mob">Идеальный подарок на праздники для любимых</p>
                        <p style="font-size: 16px; color: #2F2F2F;" class="sertif-desc-mob">Подарочные сертификаты могут быть получены через наш сайт или в наших офисах. Для получения сертификата офлайн, вам необходимо посетить один из наших офисов или заполнить форму на нашем сайте</p>
                        <p style="font-size: 14px; color: #6E6E6E;" class="sertif-desc-mob">с 01.04.25 до 30.04.25</p>
                        <button class="btn-stock-online">Заказать онлайн</button>
                    </div>
                </div>
                </div>
        </div>
        <div class="col-md-6">
            <div class="card card-offer-2 card-offer-2-shadow">

                <span style="font-size: 22px; font-family: 'Prata', serif; color: #2F2F2F;" class="zag-sertif-mob">ПОДАРОЧНЫЙ СЕРТИФИКАТ</span>
                <div class="d-flex" style="margin-top: 30px; gap: 20px;">
                    <img src="{% static 'img/Frame offer.png' %}" style="object-fit: cover; border-radius: 25px;">
                    <div>
                        <p style="font-size: 18px; font-weight: 600; color: #2F2F2F;" class="sertif-desc-mob">Идеальный подарок на праздники для любимых</p>
                        <p style="font-size: 16px; color: #2F2F2F;" class="sertif-desc-mob">Подарочные сертификаты могут быть получены через наш сайт или в наших офисах. Для получения сертификата офлайн, вам необходимо посетить один из наших офисов или заполнить форму на нашем сайте</p>
                        <p style="font-size: 14px; color: #6E6E6E;" class="sertif-desc-mob">с 01.04.25 до 30.04.25</p>
                        <button class="btn-stock-online">Заказать онлайн</button>
                    </div>
                </div>
                </div>
        </div>
        <div class="col-md-6">
            <div class="card card-offer-2 card-offer-2-shadow">

                <span style="font-size: 22px; font-family: 'Prata', serif; color: #2F2F2F;" class="zag-sertif-mob">ПОДАРОЧНЫЙ СЕРТИФИКАТ</span>
                <div class="d-flex" style="margin-top: 30px; gap: 20px;">
                    <img src="{% static 'img/Frame offer.png' %}" style="object-fit: cover; border-radius: 25px;">
                    <div>
                        <p style="font-size: 18px; font-weight: 600; color: #2F2F2F;" class="sertif-desc-mob">Идеальный подарок на праздники для любимых</p>
                        <p style="font-size: 16px; color: #2F2F2F;" class="sertif-desc-mob">Подарочные сертификаты могут быть получены через наш сайт или в наших офисах. Для получения сертификата офлайн, вам необходимо посетить один из наших офисов или заполнить форму на нашем сайте</p>
                        <p style="font-size: 14px; color: #6E6E6E;" class="sertif-desc-mob">с 01.04.25 до 30.04.25</p>
                        <button class="btn-stock-online">Заказать онлайн</button>
                    </div>
                </div>
                </div>
        </div>
        <div class="col-md-6">
            <div class="card card-offer-2 card-offer-2-shadow">

                <span style="font-size: 22px; font-family: 'Prata', serif; color: #2F2F2F;" class="zag-sertif-mob">ПОДАРОЧНЫЙ СЕРТИФИКАТ</span>
                <div class="d-flex" style="margin-top: 30px; gap: 20px;">
                    <img src="{% static 'img/Frame offer.png' %}" style="object-fit: cover; border-radius: 25px;">
                    <div>
                        <p style="font-size: 18px; font-weight: 600; color: #2F2F2F;" class="sertif-desc-mob">Идеальный подарок на праздники для любимых</p>
                        <p style="font-size: 16px; color: #2F2F2F;" class="sertif-desc-mob">Подарочные сертификаты могут быть получены через наш сайт или в наших офисах. Для получения сертификата офлайн, вам необходимо посетить один из наших офисов или заполнить форму на нашем сайте</p>
                        <p style="font-size: 14px; color: #6E6E6E;" class="sertif-desc-mob">с 01.04.25 до 30.04.25</p>
                        <button class="btn-stock-online">Заказать онлайн</button>
                    </div>
                </div>
                </div>
        </div>
    </div>
</section>

<section class="container-fluid container-feedback-fluid">
    <div class="container container-feedback">
    <div class="card card-feedback">
    <div class="d-flex row">
            <div class="col-md-6">
                <p style="font-size: 40px; font-family: 'Prata', serif;" class="zag-feedback-mob">НАПИШИТЕ НАМ</p>
                <p style="font-size: 16px; margin-top: 20px; color: #2D2D2D;">Наши специалисты свяжутся с вами в ближайшее время, чтобы ответить на все ваши вопросы и помочь вам выбрать наиболее подходящую процедуру!</p>
                <div class="d-flex align-items-center" style="margin-top: 30px;">
                    <img src="{% static 'img/telephone-fill.png' %}" width="14" height="14" style="margin-right: 12px;">
                    <a href="tel:+79147312555" target="_blank" style="font-size: 16px; color: #2D2D2D;">+7 (914) 731-25-55</a>
                </div>
                <div class="d-flex align-items-center" style="margin-top: 20px;">
                    <img src="{% static 'img/_5068681 1.png' %}" width="17" height="17" style="margin-right: 12px;">
                    <a href="mailto:ideology.vl@gmail.com" target="_blank" style="font-size: 16px; color: #2D2D2D;">ideology.vl@gmail.com</a>
                </div>
                <div class="d-flex align-items-center" style="margin-top: 20px;">
                    <img src="{% static 'img/Union.png' %}" width="14" height="14" style="margin-right: 12px;">
                    <span style="font-size: 16px; color: #2D2D2D;">10:00 – 21:00 вт-сб</span>
                </div>
            </div>
            <div class="col-md-6">
    <form>
        <!-- Первая строка - имя и телефон -->
        <div class="row mb-3 feedback-name-field-block-mob" style="row-gap: 15px;">
            <div class="col-md-6">
                <input type="text" class="form-control custom-input" placeholder="Имя" required>
            </div>
            <div class="col-md-6">
                <input type="tel" class="form-control custom-input" placeholder="Телефон" required>
            </div>
        </div>

        <!-- Поле сообщения -->
        <div class="mb-3">
            <textarea class="form-control custom-textarea" placeholder="Сообщение" rows="3"></textarea>
        </div>

        <!-- Чекбокс -->
        <div class="form-check mb-3 d-flex align-items-center">
            <input class="form-check-input custom-check" type="checkbox" id="agreeCheck" required checked>
            <label class="form-check-label" for="agreeCheck" style="font-size: 16px;">
                Согласие на обработку персональных данных
            </label>
        </div>

        <!-- Кнопка отправки -->
        <button type="submit" class="btn-feedback">Отправить</button>
    </form>
</div>
    </div>
    </div>
    </div>
</section>

<section class="container-fluid container-decor-feedback">

</section>

<footer class="container-fluid">
    <div class="container">


            <div class="d-flex justify-content-between align-items-center nav-footer-desk" style="width: 100%;">
    <!-- Логотип слева -->
    <a href="/" style="z-index: 1000;">
        <div class="d-flex align-items-center">
            <img src="{% static 'img/Frame 76.png' %}" alt="Логотип" width="51" height="37" style="margin-right: 23px;">
            <img src="{% static 'img/Frame 74.png' %}">
        </div>
    </a>

    <!-- Навигация по центру -->
    <nav class="d-flex justify-content-end" style="z-index: 1000; flex-grow: 1;">
        <ul class="nav">
            <li class="nav-item" style="margin-right: 25px;"><a class="nav-link" href="{% url 'services' %}">Услуги</a></li>
            <li class="nav-item" style="margin-right: 25px;"><a class="nav-link" href="#">Команда</a></li>
            <li class="nav-item" style="margin-right: 25px;"><a class="nav-link" href="{% url 'stock' %}">Акции</a></li>
            <li class="nav-item" style="margin-right: 25px;"><a class="nav-link" href="{% url 'about' %}">О клинике</a></li>
            <li class="nav-item" style="margin-right: 25px;"><a class="nav-link" href="{% url 'vacancies' %}">Вакансии</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
    </nav>

</div>

        <div class="d-flex justify-content-between align-items-center nav-mob-footer" style="width: 100%;">
    <!-- Логотип слева -->
    <a href="/" style="z-index: 1000;">
        <div class="d-flex align-items-center">
            <img src="{% static 'img/Frame 76.png' %}" alt="Логотип" width="51" height="37" style="margin-right: 23px;" class="img-2-footer-mob">
            <img src="{% static 'img/Frame 74.png' %}" class="img-footer-mob">
        </div>
    </a>

</div>

        <hr style="color: white; margin-top: 30px;">

        <div class="d-flex justify-content-between nav-2-mob-footer">
            <nav class="d-flex row justify-content-between" style="z-index: 1000; flex-grow: 1;">
        <ul class="nav d-flex justify-content-between">
            <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Услуги</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Команда</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'stock' %}">Акции</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">О клинике</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'vacancies' %}">Вакансии</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
    </nav>
        </div>

        <div class="d-flex justify-content-between align-items-center nav-2-footer-desk" style="width: 100%; margin-top: 30px;">
            <a href="#" style="color: white; text-decoration: revert;">Политика обработки персональных данных</a>
            <div class="d-flex align-items-center">
                <a href="tel:+79147312555" target="_blank" class="phone" style="font-size: 16px;">+7 (914) 731-25-55</a>
                <img src="{% static 'img/vk.png' %}" width="21" height="14" class="vk">
                <a href="https://t.me/ideologia_vl" target="_blank" class="d-flex align-items-center"><img src="{% static 'img/tg.png' %}" width="18" height="18"></a>
            </div>
        </div>

        <div class="nav-3-footer-mob" style="width: 100%; margin-top: 30px;">
            <div class="d-flex align-items-center justify-content-center">
                <a href="tel:+79147312555" class="phone" style="font-size: 16px;">+7 (914) 731-25-55</a>
                <img src="{% static 'img/vk.png' %}" width="21" height="14" class="vk">
                <a href="https://t.me/ideologia_vl" target="_blank" class="d-flex align-items-center"><img src="{% static 'img/tg.png' %}" width="18" height="18"></a>
            </div>
            <div style="margin-top: 30px; text-align: center;">
            <a href="#" style="color: white; text-decoration: revert; font-size: 14px;">Политика обработки персональных данных</a>
                </div>
        </div>

    </div>
</footer>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
$(document).ready(function(){
    var slider_abonement = $('.abonement-slider').slick({
        dots: false,
        infinite: true,
        speed: 300,
        slidesToShow: 2,
        slidesToScroll: 2,
        responsive: [
            {
                breakpoint: 992,
                settings: {
                    slidesToShow: 2
                }
            },
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                }
            }
        ]
    });

    slider_abonement.on('afterChange', function(event, slick, currentSlide) {
    updatePageIndicatorsAbonement(currentSlide);
    });

    function updatePageIndicatorsAbonement(currentSlide) {
    $('.page-indicator-abonement').removeClass('active');

    for (let i = 0; i < 2; i++) {
        let index = currentSlide + i;
        if (index >= 0 && index < $('.page-indicator-abonement').length) {
            $('.page-indicator-abonement[data-index="' + index + '"]').addClass('active');
        }
    }
    }

    $('.prev-abonement').click(function(){
        slider_abonement.slick('slickPrev');
    });

    $('.next-abonement').click(function(){
        slider_abonement.slick('slickNext');
    });

    $(document).ready(function() {
        updatePageIndicatorsAbonement(0);
    });

});
</script>

</html>