{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вакансии</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <!-- Slick CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
</head>
<body>
<header class="container-fluid header-desk header-desk-stock" style="border-bottom: 1px solid #E9E9E9; padding-bottom: 20px!important;">
    <div class="container d-flex justify-content-between align-items-center">


            <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
    <!-- Логотип слева -->
    <a href="/" style="z-index: 1000;">
        <div>
            <img src="{% static 'img/Logo.png' %}" alt="Логотип" width="51" height="37">
        </div>
    </a>

    <!-- Навигация по центру -->
    <nav class="d-flex justify-content-center" style="z-index: 1000; flex-grow: 1;">
        <ul class="nav">
            <li class="nav-item dropdown" style="margin-right: 25px;">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="outline: none;">
                Услуги <svg width="11" height="6" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: 5px; color: #919191;">
        <path d="M1 1L6 6L11 1" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
    </svg>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'hardware_cosmetology' %}" style="outline: none;">Аппартная косметология</a></li>
                <li><a class="dropdown-item" href="{% url 'care_procedures' %}" style="outline: none;">Уходовые процедуры</a></li>

            </ul>
        </li>
            <li class="nav-item dropdown" style="margin-right: 25px;">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="outline: none;">
                О нас <svg width="11" height="6" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: 5px; color: #919191;">
        <path d="M1 1L6 6L11 1" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
    </svg>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'about' %}" style="outline: none;">О клинике</a></li>
                <li><a class="dropdown-item" href="{% url 'licenses' %}" style="outline: none;">Юридическая информация</a></li>
                <li><a class="dropdown-item" href="{% url 'contacts' %}" style="outline: none;">Контакты</a></li>

            </ul>
        </li>
            <li class="nav-item" style="margin-right: 25px;"><a class="nav-link" href="#">Команда</a></li>
            <li class="nav-item" style="margin-right: 25px;"><a class="nav-link" href="{% url 'stock' %}">Акции</a></li>
            <li class="nav-item" style="margin-right: 25px;"><a class="nav-link" href="{% url 'vacancies' %}">Вакансии</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'news' %}">Блог</a></li>
        </ul>
    </nav>

    <!-- Телефон и иконка справа -->
    <div class="d-flex align-items-center right-header" style="z-index: 1000;">
        <div class="d-flex align-items-center">
            <a href="tel:+79147312555" target="_blank" class="phone-black">+7 (914) 731-25-55</a>
            <img src="{% static 'img/Vector-black.png' %}" width="21" height="14" class="vk">
            <a href="https://t.me/ideologia_vl" target="_blank" class="d-flex align-items-center"><img src="{% static 'img/Vector-tg-black.png' %}" width="18" height="18"></a>
            <div class="devisor-black"></div>
            <a href="https://n1253794.yclients.com/company/1146478/personal/menu?o=" target="_blank" class="btn-header-black">Записаться</a>
        </div>
    </div>
</div>
    </div>




    </header>


<header class="container-fluid header-mob" style="border-bottom: 1px solid #E9E9E9; padding-bottom: 20px!important; background-color: white;">
    <div class="container d-flex justify-content-between align-items-center">


            <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
    <!-- Логотип слева -->
    <a href="/" style="z-index: 1000;">
        <div>
            <img src="{% static 'img/Logo.png' %}" alt="Логотип" width="51" height="37">
        </div>
    </a>

                <div class="burger-container">
                    <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
                    <label class="burger" for="burger-checkbox"></label>

                    <nav class="mobile-nav">
                    <ul style="margin-top: 50px;">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="outline: none; font-size: 16px;">
                Услуги <svg width="11" height="6" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: 5px; color: #919191;">
        <path d="M1 1L6 6L11 1" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
    </svg>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'hardware_cosmetology' %}" style="outline: none; font-size: 16px;">Аппартная косметология</a></li>
                <li><a class="dropdown-item" href="{% url 'care_procedures' %}" style="outline: none; font-size: 16px;">Уходовые процедуры</a></li>

            </ul>
        </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="outline: none; font-size: 16px;">
                О нас <svg width="11" height="6" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: 5px; color: #919191;">
        <path d="M1 1L6 6L11 1" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
    </svg>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'about' %}" style="outline: none; font-size: 16px;">О клинике</a></li>
                <li><a class="dropdown-item" href="{% url 'licenses' %}" style="outline: none; font-size: 16px;">Юридическая информация</a></li>
                <li><a class="dropdown-item" href="{% url 'contacts' %}" style="outline: none; font-size: 16px;">Контакты</a></li>

            </ul>
        </li>
            <li class="nav-item"><a class="nav-link" href="#" style="font-size: 16px;">Команда</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'stock' %}" style="font-size: 16px;">Акции</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'vacancies' %}" style="font-size: 16px;">Вакансии</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'news' %}" style="font-size: 16px;">Блог</a></li>
        </ul>
                </nav>
                </div>



</div>
    </div>




    </header>

<section class="container container-stock-crumbs">
    <span><a href="/" style="font-size: 16px; color: #6E6E6E;">Главная</a> / <a href="{{ request.path }}" style="font-size: 16px; color: black;">Вакансии</a></span>
</section>

<section class="container container-vacancies">
    <p style="font-size: 35px; font-family: 'Prata', serif; color: #2F2F2F;" class="zag-work-mob">ОТКРЫТЫЕ ВАКАНСИИ</p>
    <div class="d-flex align-items-start div-vacancies-wrap-mob" style="margin-top: 25px; gap: 300px;">
        <span style="font-size: 18px; width: 734px; color: #393939;" class="desc-vacancies-mob">Наш успех обусловлен приверженностью качеству и пациентоориентированности. В связи с растущим спросом на наши услуги, мы ищем квалифицированных и мотивированных специалистов в нашу команду</span>
        <div class="card-vacancies-reclama">
            <div class="d-flex align-items-center" style="gap: 30px;">
                <span style="font-size: 14px; width: 236px; color: #2F2F2F;">Также вы можете посмотреть наши вакансии на популярных площадках по подбору персонала</span>
                <img src="{% static 'img/Frame 2087325922.png' %}" width="50" height="50">
            </div>
        </div>
    </div>
    <div class="d-flex row" style="margin-top: 50px; row-gap: 20px;">
        <div class="col-md-4">
            <div class="card-vacancies">
            <p style="font-size: 22px; font-family: 'Prata', serif; color: #2F2F2F;">МАССАЖИСТ</p>
            <p style="font-size: 16px; font-weight: 600; margin-top: 30px; color: #2F2F2F;">Требования к работнку:</p>
            <span style="font-size: 16px; color: #2F2F2F;">Опыт: 2-3 года</span>
            <p style="font-size: 16px; color: #2F2F2F;">Профильное образование</p>
            <p style="font-size: 16px; color: #6E6E6E;">Для получения более подробной информации о вакансии, пожалуйста, свяжитесь с нами</p>
            <div class="d-flex align-items-center" style="margin-top: 30px; gap: 10px;">
                <a id="otklik-vacancies" class="d-flex align-items-center" style="gap: 10px; cursor: pointer;">
                <span style="font-size: 16px; color: #968577; font-weight: 600;" class="podrobnee-hover">Откликнуться</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
<path d="M0.625003 8.93309C0.267276 9.14019 0.145173 9.59808 0.352278 9.95581C0.559383 10.3135 1.01727 10.4356 1.375 10.2285L0.625003 8.93309ZM12.3663 3.61183C12.4728 3.21243 12.2354 2.80232 11.836 2.69581L5.32746 0.960202C4.92806 0.853697 4.51795 1.09113 4.41144 1.49053C4.30494 1.88992 4.54237 2.30004 4.94177 2.40654L10.7271 3.94931L9.18437 9.73468C9.07787 10.1341 9.3153 10.5442 9.7147 10.6507C10.1141 10.7572 10.5242 10.5198 10.6307 10.1204L12.3663 3.61183ZM1 9.58081L1.375 10.2285L12.0182 4.06671L11.6432 3.41898L11.2682 2.77126L0.625003 8.93309L1 9.58081Z" fill="#968577"/>
</svg>
                </a>
            </div>
                </div>
        </div>

        <div class="col-md-4">
            <div class="card-vacancies">
            <p style="font-size: 22px; font-family: 'Prata', serif; color: #2F2F2F;">КОСМЕТИК - ЭСТЕТИСТ</p>
            <p style="font-size: 16px; font-weight: 600; margin-top: 30px; color: #2F2F2F;">Требования к работнку:</p>
            <span style="font-size: 16px; color: #2F2F2F;">Опыт: 2-3 года</span>
            <p style="font-size: 16px; color: #2F2F2F;">Профильное образование</p>
            <p style="font-size: 16px; color: #6E6E6E;">Для получения более подробной информации о вакансии, пожалуйста, свяжитесь с нами</p>
            <div class="d-flex align-items-center" style="margin-top: 30px; gap: 10px;">
                <a id="otklik-vacancies" class="d-flex align-items-center" style="gap: 10px; cursor: pointer;">
                <span style="font-size: 16px; color: #968577; font-weight: 600;" class="podrobnee-hover">Откликнуться</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11" fill="none">
<path d="M0.625003 8.93309C0.267276 9.14019 0.145173 9.59808 0.352278 9.95581C0.559383 10.3135 1.01727 10.4356 1.375 10.2285L0.625003 8.93309ZM12.3663 3.61183C12.4728 3.21243 12.2354 2.80232 11.836 2.69581L5.32746 0.960202C4.92806 0.853697 4.51795 1.09113 4.41144 1.49053C4.30494 1.88992 4.54237 2.30004 4.94177 2.40654L10.7271 3.94931L9.18437 9.73468C9.07787 10.1341 9.3153 10.5442 9.7147 10.6507C10.1141 10.7572 10.5242 10.5198 10.6307 10.1204L12.3663 3.61183ZM1 9.58081L1.375 10.2285L12.0182 4.06671L11.6432 3.41898L11.2682 2.77126L0.625003 8.93309L1 9.58081Z" fill="#968577"/>
</svg>
                </a>
            </div>
                </div>
        </div>



    </div>
</section>



<section class="container-fluid container-feedback-fluid">
    <div class="container container-feedback">
    <div class="card card-feedback">
    <div class="d-flex row">
            <div class="col-md-6">
                <p style="font-size: 40px; font-family: 'Prata', serif;" class="zag-feedback-mob">НАПИШИТЕ НАМ</p>
                <p style="font-size: 16px; margin-top: 20px; color: #2D2D2D;">Наши специалисты свяжутся с вами в ближайшее время, чтобы ответить на все ваши вопросы и помочь вам выбрать наиболее подходящую процедуру!</p>
                <div class="d-flex align-items-center" style="margin-top: 30px;">
                    <img src="{% static 'img/telephone-fill.png' %}" width="14" height="14" style="margin-right: 12px;">
                    <a href="tel:+79147312555" target="_blank" style="font-size: 16px; color: #2D2D2D;">+7 (914) 731-25-55</a>
                </div>
                <div class="d-flex align-items-center" style="margin-top: 20px;">
                    <img src="{% static 'img/_5068681 1.png' %}" width="17" height="17" style="margin-right: 12px;">
                    <a href="mailto:ideology.vl@gmail.com" target="_blank" style="font-size: 16px; color: #2D2D2D;">ideology.vl@gmail.com</a>
                </div>
                <div class="d-flex align-items-center" style="margin-top: 20px;">
                    <img src="{% static 'img/Union.png' %}" width="14" height="14" style="margin-right: 12px;">
                    <span style="font-size: 16px; color: #2D2D2D;">10:00 – 21:00 вт-сб</span>
                </div>
            </div>
            <div class="col-md-6">
    <form>
        <!-- Первая строка - имя и телефон -->
        <div class="row mb-3 feedback-name-field-block-mob" style="row-gap: 15px;">
            <div class="col-md-6">
                <input type="text" class="form-control custom-input" placeholder="Имя" required>
            </div>
            <div class="col-md-6">
                <input type="tel" class="form-control custom-input" placeholder="Телефон" required>
            </div>
        </div>

        <!-- Поле сообщения -->
        <div class="mb-3">
            <textarea class="form-control custom-textarea" placeholder="Сообщение" rows="3"></textarea>
        </div>

        <!-- Чекбокс -->
        <div class="form-check mb-3 d-flex align-items-center">
            <input class="form-check-input custom-check" type="checkbox" id="agreeCheck" required checked>
            <label class="form-check-label" for="agreeCheck" style="font-size: 16px;">
                Согласие на обработку персональных данных
            </label>
        </div>

        <!-- Кнопка отправки -->
        <button type="submit" class="btn-feedback">Отправить</button>
    </form>
</div>
    </div>
    </div>
    </div>
</section>

<section class="container-fluid container-decor-feedback">

</section>

<footer class="container-fluid">
    <div class="container">


            <div class="d-flex justify-content-between align-items-center nav-footer-desk" style="width: 100%;">
    <!-- Логотип слева -->
    <a href="/" style="z-index: 1000;">
        <div class="d-flex align-items-center">
            <img src="{% static 'img/Frame 76.png' %}" alt="Логотип" width="51" height="37" style="margin-right: 23px;">
            <img src="{% static 'img/Frame 74.png' %}">
        </div>
    </a>

    <!-- Навигация по центру -->
    <nav class="d-flex justify-content-end" style="z-index: 1000; flex-grow: 1;">
        <ul class="nav">
            <li class="nav-item" style="margin-right: 25px;"><a class="nav-link" href="{% url 'services' %}">Услуги</a></li>
            <li class="nav-item" style="margin-right: 25px;"><a class="nav-link" href="#">Команда</a></li>
            <li class="nav-item" style="margin-right: 25px;"><a class="nav-link" href="{% url 'stock' %}">Акции</a></li>
            <li class="nav-item" style="margin-right: 25px;"><a class="nav-link" href="{% url 'about' %}">О клинике</a></li>
            <li class="nav-item" style="margin-right: 25px;"><a class="nav-link" href="{% url 'vacancies' %}">Вакансии</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
    </nav>

</div>

        <div class="d-flex justify-content-between align-items-center nav-mob-footer" style="width: 100%;">
    <!-- Логотип слева -->
    <a href="/" style="z-index: 1000;">
        <div class="d-flex align-items-center">
            <img src="{% static 'img/Frame 76.png' %}" alt="Логотип" width="51" height="37" style="margin-right: 23px;" class="img-2-footer-mob">
            <img src="{% static 'img/Frame 74.png' %}" class="img-footer-mob">
        </div>
    </a>

</div>

        <hr style="color: white; margin-top: 30px;">

        <div class="d-flex justify-content-between nav-2-mob-footer">
            <nav class="d-flex row justify-content-between" style="z-index: 1000; flex-grow: 1;">
        <ul class="nav d-flex justify-content-between">
            <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Услуги</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Команда</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'stock' %}">Акции</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">О клинике</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'vacancies' %}">Вакансии</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
    </nav>
        </div>

        <div class="d-flex justify-content-between align-items-center nav-2-footer-desk" style="width: 100%; margin-top: 30px;">
            <a href="#" style="color: white; text-decoration: revert;">Политика обработки персональных данных</a>
            <div class="d-flex align-items-center">
                <a href="tel:+79147312555" target="_blank" class="phone" style="font-size: 16px;">+7 (914) 731-25-55</a>
                <img src="{% static 'img/vk.png' %}" width="21" height="14" class="vk">
                <a href="https://t.me/ideologia_vl" target="_blank" class="d-flex align-items-center"><img src="{% static 'img/tg.png' %}" width="18" height="18"></a>
            </div>
        </div>

        <div class="nav-3-footer-mob" style="width: 100%; margin-top: 30px;">
            <div class="d-flex align-items-center justify-content-center">
                <a href="tel:+79147312555" class="phone" style="font-size: 16px;">+7 (914) 731-25-55</a>
                <img src="{% static 'img/vk.png' %}" width="21" height="14" class="vk">
                <a href="https://t.me/ideologia_vl" target="_blank" class="d-flex align-items-center"><img src="{% static 'img/tg.png' %}" width="18" height="18"></a>
            </div>
            <div style="margin-top: 30px; text-align: center;">
            <a href="#" style="color: white; text-decoration: revert; font-size: 14px;">Политика обработки персональных данных</a>
                </div>
        </div>

    </div>
</footer>

<div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-feedback modal-dialog-centered">
    <div class="modal-content modal-content-feedback">

      <div class="modal-body modal-body-feedback">
          <p style="font-size: 30px; font-family: 'Prata', serif; color: #2F2F2F;">ОСТАВИТЬ ЗАЯВКУ</p>
          <p style="font-size: 16px; color: #2D2D2D;">Заполните поля и мы сявяжемся с вами для рассмотрения вашей кандидатуры на данную вакансию!<p>
          <form>
        <!-- Первая строка - имя и телефон -->
        <div class="row mb-3 feedback-name-field-block-mob" style="row-gap: 15px;">
            <div class="col-md-6">
                <input type="text" class="form-control custom-input" placeholder="Ваше ФИО" required>
            </div>
            <div class="col-md-6">
                <input type="tel" class="form-control custom-input" placeholder="Телефон" required>
            </div>
        </div>

        <!-- Поле сообщения -->
        <div class="row mb-3 feedback-name-field-block-mob" style="row-gap: 15px;">
            <div class="col-md-6">
                <input type="text" class="form-control custom-input" placeholder="Ваш город" required>
            </div>
            <div class="col-md-6">
                <input type="date" class="form-control custom-input" placeholder="Дата рождения" required>
            </div>
        </div>

          <div class="row mb-3">
              <div class="d-flex align-items-center">
                  <span style="font-size: 16px;">Прикрепите ваше резюме с фото</span>
                  <div>
                      <input type="file" class="form-control custom-input" required>
                  </div>
              </div>
          </div>


        <!-- Кнопка отправки -->
          <div class="d-flex align-items-center mt-5" style="gap: 20px;">
        <button type="submit" class="btn-feedback" style="margin-top: 0;">Отправить</button>
          <a href="https://wa.me/79147312555" target="_blank" class="d-flex align-items-center"><img src="{% static 'img/socials.png' %}" width="54" height="54" class="main-wa-mob wa-hover"></a>
          </div>
          <p style="font-size: 14px; color: #787878; margin-top: 10px; width: 300px;">Нажимая на кнопку вы соглашаетесь на обработку персональных данных</p>
    </form>
      </div>

        <img src="{% static 'img/Vector-decor-modal.png' %}" style="position: absolute; right: 0; bottom: 0;">

    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
    var buttons = document.querySelectorAll('#otklik-vacancies');

    buttons.forEach(function(button) {
    button.addEventListener('click', function() {
      var myModal = new bootstrap.Modal(document.getElementById('feedbackModal'), {});
      myModal.show();
    });
    });
</script>

<script>
$(document).ready(function(){
    var slider = $('.lic-slider').slick({
        dots: false,
        infinite: true,
        speed: 300,
        slidesToShow: 5,
        slidesToScroll: 1,
        responsive: [
            {
                breakpoint: 992,
                settings: {
                    slidesToShow: 2
                }
            },
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 1
                }
            }
        ]
    });

    // Кастомные стрелки
    $('.prev-lic').click(function(){
        slider.slick('slickPrev');
    });

    $('.next-lic').click(function(){
        slider.slick('slickNext');
    });
});
</script>

</body>
</html>